<a href="https://colab.research.google.com/github/Disha2704/pwskill-asignments/blob/main/16_feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data stored and managed in a computer system. Databases are designed to store, retrieve, and manage data efficiently and securely. There are two primary types of databases: SQL and NoSQL.

Here are some of the key differences between SQL and NoSQL databases:

Data Model: SQL databases use a tabular, relational data model, while NoSQL databases use various non-tabular data models.

Schema: SQL databases require a predefined schema that determines the structure of the data in the database, while NoSQL databases do not require a schema or allow for a flexible schema.

Querying: SQL databases use SQL (Structured Query Language) to perform complex queries on related data across multiple tables. In contrast, NoSQL databases use proprietary query languages, APIs, and tools to perform queries.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define the structure of a database. DDL statements are used to create, modify, and delete database objects, such as tables, indexes, and constraints. Here are some of the commonly used DDL statements:

In [ ]:
CREATE TABLE customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50)
);

In [ ]:
DROP TABLE customers;

In [ ]:
ALTER TABLE customers ADD COLUMN phone VARCHAR(20);

In [ ]:
TRUNCATE TABLE customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to modify data in a database. DML consists of three primary commands: INSERT, UPDATE, and DELETE.

**INSERT INTO table_name (column1, column2, column3, ...)**

VALUES (value1, value2, value3, ...);

**UPDATE table_name**

SET column1 = value1, column2 = value2, ...

WHERE condition;

**DELETE FROM table_name**

WHERE condition;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve data from a database. The most commonly used DQL statement is the SELECT statement, which is used to select data from one or more tables.

SELECT column1, column2, ...

FROM table_name

WHERE condition;

Q5. Explain Primary Key and Foreign Key.

In a relational database, primary keys and foreign keys are used to establish relationships between tables.

A primary key is a column or set of columns in a table that uniquely identifies each row in the table. A primary key cannot contain null values and must be unique for each row. A primary key is used to enforce the entity integrity constraint, which ensures that each row in a table is unique and can be identified.

A foreign key is a column or set of columns in a table that refers to the primary key of another table. A foreign key establishes a link between two tables and is used to enforce referential integrity constraints. Referential integrity ensures that the relationships between tables are valid, and that no data is lost or corrupted due to a change in one table that affects another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# establish connection
mydb = mysql.connector.connect(user='username', password='password',
                              host='hostname',
                              database='database_name')

# create cursor
cursor = cnx.cursor()

# execute SQL query
query = "SELECT * FROM table_name"
cursor.execute(query)

# fetch results
results = cursor.fetchall()

# close cursor and connection
mydb.close()
mydb.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM clause: This clause specifies the table or tables from which the data will be selected.

WHERE clause: This clause filters the rows returned by the query based on a specified condition.

GROUP BY clause: This clause groups the rows that have the same values in the specified column or columns.

HAVING clause: This clause filters the groups returned by the GROUP BY clause based on a specified condition.

SELECT clause: This clause specifies the columns to be included in the result set.

ORDER BY clause: This clause sorts the result set based on the specified column or columns.

LIMIT/OFFSET clause: This clause limits the number of rows returned by the query and optionally skips a specified number of rows.