<a href="https://colab.research.google.com/github/Disha2704/pwskill-asignments/blob/main/22_feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
series_data=[4, 8, 15, 16, 23, 42]
df=pd.Series(series_data)

In [4]:
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [6]:
lst=[1,2,3,4,5,6,7,8,9,10]
df=pd.Series(lst)

print(df)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
![image.png]()

In [13]:
data={"name":["Alice","Bob","Claire"],
      "Age":[25,30,27],
      "Gender":["Female","Male","Female"]}
df=pd.DataFrame(data)

df

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional tabular data structure with rows and columns. It is a core data structure in Pandas and is used to represent and manipulate data in a way that is similar to spreadsheets or SQL tables. A DataFrame can be thought of as a collection of Series objects that share the same index.

On the other hand, a Series is a one-dimensional labeled array capable of holding any data type. It is similar to a column in a spreadsheet or a SQL table. It has an index that labels each element in the array.

In [15]:
import pandas as pd
data = {
    "name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

df = pd.DataFrame(data)

df

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [16]:
ages = df["Age"]

print(ages)

0    25
1    30
2    27
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas offers many functions to manipulate data in a DataFrame. Here are some of the most common ones:

head(): This function is used to display the first n rows of a DataFrame. It is useful when you want to get a quick overview of the data.

tail(): This function is used to display the last n rows of a DataFrame.

describe(): This function is used to generate descriptive statistics of a DataFrame. It provides information such as the count, mean, standard deviation, minimum, and maximum values for each column.

drop(): This function is used to remove a column or row from a DataFrame. It can be used to remove unwanted columns or rows that contain missing data.

groupby(): This function is used to group data based on one or more columns. It can be used to compute summary statistics for each group or to aggregate data based on a specific criterion.

sort_values(): This function is used to sort a DataFrame based on one or more columns. It can be used to arrange data in ascending or descending order.

apply(): This function is used to apply a function to each element of a DataFrame. It can be used to transform data, compute new features, or clean data.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Of the three data structures, both Series and DataFrame are mutable in nature, while Panel is deprecated as of Pandas version 1.0.0 and no longer recommended for use.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [17]:
import pandas as pd

# create some Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Male'])

# create a DataFrame using the Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# display the resulting DataFrame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27    Male