<a href="https://colab.research.google.com/github/Disha2704/pwskill-asignments/blob/main/24_feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. List any five functions of the pandas library with execution.

In [14]:
import pandas as pd

# read a CSV file and create a DataFrame
df = pd.read_csv('data.csv')

# display the DataFrame
print(df)

FileNotFoundError: ignored

In [15]:
import pandas as pd

# create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# view the first two rows of the DataFrame
print(df.head(2))

   A  B  C
0  1  4  7
1  2  5  8

In [16]:
import pandas as pd

# create a DataFrame
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'], 'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'], 'C': [1, 2, 3, 4, 5, 6, 7, 8], 'D': [10, 20, 30, 40, 50, 60, 70, 80]})

# group the DataFrame by column A and calculate the mean of column D for each group
grouped_df = df.groupby('A')['D'].mean()

# display the resulting Series
print(grouped_df)

A
bar    40.0
foo    48.0
Name: D, dtype: float64

In [17]:
import pandas as pd
import numpy as np
# create a DataFrame
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'], 'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'], 'C': [1, 2, 3, 4, 5, 6, 7, 8], 'D': [10, 20, 30, 40, 50, 60, 70, 80]})

# create a pivot table from the DataFrame
pivot_df = pd.pivot_table(df, values='D', index=['A'], columns=['B'], aggfunc=np.sum)

# display the resulting pivot table
print(pivot_df)

B    one  three  two
A
bar   20     40   60
foo   80     80   80

In [18]:
import pandas as pd

# create two DataFrames
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value': [1, 2, 3, 4]})
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value': [5, 6, 7, 8]})

# merge the DataFrames based on column 'key'
merged_df = pd.merge(df1, df2, on='key')

# display the resulting merged DataFrame
print(merged_df)

  key  value_x  value_y
0   B        2        5
1   D        4        6

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [19]:
data={"A":[1,2,3,4,5,6,7],
       "B":[11,12,13,14,15,16,17],
       "C":[21,22,23,24,25,26,27]}

df=pd.DataFrame(data)
df

   A   B   C
0  1  11  21
1  2  12  22
2  3  13  23
3  4  14  24
4  5  15  25
5  6  16  26
6  7  17  27

In [20]:
new_index = pd.RangeIndex(start=1, stop=2*len(df), step=2)
new_df = df.reindex(new_index)
new_df

      A     B     C
1   2.0  12.0  22.0
3   4.0  14.0  24.0
5   6.0  16.0  26.0
7   NaN   NaN   NaN
9   NaN   NaN   NaN
11  NaN   NaN   NaN
13  NaN   NaN   NaN

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [21]:

value=[10,20,30,40,50]

data=pd.DataFrame(value)
data.iloc[:3,0].sum()

60


Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [22]:
data={"text":["abc","defg","hijklmnopqrstuvwxyz"]}

df=pd.DataFrame(data)

def word_count(word):
    count=0
    for letter in word:
      count=count+1
    return count 

df["Word_count"]=df["text"].apply(word_count)
print(df)

                  text  Word_count
0                  abc           3
1                 defg           4
2  hijklmnopqrstuvwxyz          19

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size() and DataFrame.shape() are both methods used in Pandas for retrieving information about the shape of a DataFrame, but they return different information.

DataFrame.size() returns the total number of elements in the DataFrame. This is equal to the number of rows multiplied by the number of columns.

DataFrame.shape() returns a tuple with the number of rows and columns in the DataFrame, respectively.

For example, if we have a DataFrame df with 5 rows and 3 columns, df.size() would return 15, while df.shape() would return (5, 3).

Q6. Which function of pandas do we use to read an excel file?

To read an Excel file in pandas, we use the function pandas.read_excel().

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [65]:

def username(email_id):
  user=""
  for i in email_id:
    if i == "@":
      break
    else:
      user=user+i
  return user

data={"email-id":["abcd@gmail.com","dkshdkh26@gmail.com","jdkwqhdiwgu93083@gmail.com"]}

df=pd.DataFrame(data)

df["username"]=df["email-id"].apply(username)
df

                     email-id          username
0              abcd@gmail.com              abcd
1         dkshdkh26@gmail.com         dkshdkh26
2  jdkwqhdiwgu93083@gmail.com  jdkwqhdiwgu93083

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects

all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2


Assignment


Data Science Masters


Your function should select the following rows: 

A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [69]:
import random
A=[random.randint(1,30) for i in range(10)]
B=[random.randint(1,30) for i in range(10)]
C=[random.randint(1,30) for i in range(10)]
data={"A":A,"B":B,"C":C}
df=pd.DataFrame(data)

df[(df["A"]>5) & (df["B"]<10)]

   A  B   C
2  9  2  23
7  9  6  16

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [48]:
data={"values":[1,2,3,4,5,6,7,8,9,20]}
df=pd.DataFrame(data)
mean=df["values"].mean()
median=df["values"].median()
standard_deviation=df["values"].std()

print("mean : ",mean)
print("median : ",median)
print("standard deviation : ",standard_deviation)

mean :  6.5
median :  5.5
standard deviation :  5.400617248673217

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [43]:
import pandas as pd

def moving_average(df):
    # Sort DataFrame by date
    df = df.sort_values(by='Date')
    # Calculate moving average of past 7 days for each row
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08', '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16', '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20', '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24', '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28', '2023-01-29', '2023-01-30', '2023-01-31'],
                   'Sales': [100, 110, 120, 115, 130, 140, 135, 150, 155, 160, 170, 180, 175, 190, 200, 210, 215, 220, 225, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290]})

df = moving_average(df)

# Print the modified DataFrame
print(df)

          Date  Sales  MovingAverage
0   2023-01-01    100     100.000000
1   2023-01-02    110     105.000000
2   2023-01-03    120     110.000000
3   2023-01-04    115     111.250000
4   2023-01-05    130     115.000000
5   2023-01-06    140     119.166667
6   2023-01-07    135     121.428571
7   2023-01-08    150     128.571429
8   2023-01-09    155     135.000000
9   2023-01-10    160     140.714286
10  2023-01-11    170     148.571429
11  2023-01-12    180     155.714286
12  2023-01-13    175     160.714286
13  2023-01-14    190     168.571429
14  2023-01-15    200     175.714286
15  2023-01-16    210     183.571429
16  2023-01-17    215     191.428571
17  2023-01-18    220     198.571429
18  2023-01-19    225     205.000000
19  2023-01-20    235     213.571429
20  2023-01-21    240     220.714286
21  2023-01-22    245     227.142857
22  2023-01-23    250     232.857143
23  2023-01-24    255     238.571429
24  2023-01-25    260     244.285714
25  2023-01-26    265     250.000000
26  2023-01-27    270     255.000000
27  2023-01-28    275     260.000000
28  2023-01-29    280     265.000000
29  2023-01-30    285     270.000000
30  2023-01-31    290     275.000000

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:


Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [42]:
df = pd.DataFrame({'Date': ['2003-04-27', '2002-01-06']})
df['Date'] = pd.to_datetime(df['Date'])

df['Weekday'] = df['Date'].dt.day_name()
print(df)

        Date Weekday
0 2003-04-27  Sunday
1 2002-01-06  Sunday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [53]:
data={"date":["2022-01-01","2022-01-02","2022-01-03","2022-01-04","2023-01-01","2023-01-02","2023-01-03","2023-01-04","2023-01-05","2023-01-06","2023-01-07","2023-01-08","2023-01-09","2023-01-10","2023-01-11","2023-01-12","2023-01-31"],
      "data":["A","B","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q"]}

df=pd.DataFrame(data)
import datetime
df["date"]=pd.to_datetime(df["date"])

date_between=df[(df["date"]>"2023-01-01") & (df["date"]<"2023-01-31")]
date_between

print(df.size)
print(df.shape)

34
(17, 2)

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself. It can be imported using the following command:

import pandas as pd